# Add your environment variables here
# URL du microservice user (iOS Simulator: localhost, Android: http://10.0.2.2:3000)
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_CHAUFFEUR_SERVICE_URL=http://localhost:3002
EXPO_PUBLIC_MISSION_SERVICE_URL=http://localhost:3001
EXPO_PUBLIC_VEHICLE_SERVICE_URL=http://localhost:3005
EXPO_PUBLIC_CLIENT_SERVICE_URL=http://localhost:3004
EXPO_PUBLIC_DOCUMENT_SERVICE_URL=http://localhost:3006
EXPO_PUBLIC_GEO_SERVICE_URL=http://localhost:3007
EXPO_PUBLIC_BILLING_SERVICE_URL=http://localhost:3008
EXPO_PUBLIC_NOTIFICATION_SERVICE_URL=http://localhost:3009
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE
